body {
  margin:0;
  // padding:0;
  background: #111;
  // font-family: sans-serif;
  font-family: 'Monaco', monospace;
}

* {
  border-collapse: collapse;
}

.story {
  display: flex;
  font-family: -apple-system, "system-ui";
  font-weight:100;
  color:#fda;
  font-style: italic;
  font-size:45px;
  padding:0 25%;
  // width:50%;
  height:100vh;
  align-items: center;
}
.story p { z-index: 100; }
.story p.down {
  color:#544;
  position: absolute;
  left:50%;
  bottom:5%;
}
.story.luck p {
  // padding:50px;
  // color:gold;
  background:rgba(0,0,0,0.5);
  font-style: normal;
  color:white;
  font-size:0.6em;
  // font-weight:300;
  margin:0 auto;
  transition-duration: 2.5s;
  transition-property: opacity;
  opacity: 1;
}
.play .story { display: none; }
.play #grid {
  transition-duration: 0.5s;
  transition-property: opacity;
}
.play .story.luck p {
  opacity: 0;
}
.story.missing em {
  // color:#c00;
  font-weight: 300;
}

#game {
  margin: 0 auto;
  display: block;
  // border: 1px solid #555;
  // border-radius: 3px;
  background:#000;
}

#dash {
  display:none;
  color:white;
  width:50%;
  margin:0 auto;
}

// div#cv {
//   height:0;
//   padding-bottom: 75.0%; /* 16:9 */
//   position: relative;
// }
canvas {
  // position: absolute;
  // top:0; left:0;
  // height:100%;
  // width: 100%;
  height:100vh;
  // max-height:100vh;
  /* TODO: all these still required? */
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
  // max-width: 100%;
}
* { box-sizing:border-box; }
div#in {
  position:absolute;
  top:0px;
  left:5%;
  // background:#333;
  width:90%;
  padding:10px;
  margin:0 auto;
}
div#log p { margin:0.15em 0; color:#ccc }
div#log p.other { color: #99f }
div#log em { color: #999; }
div#log {
  display: none;
  font-size:18px;
  width:30%;
  padding:10px 20px;
  position:absolute;
  top:10px;
  right:10px;
  // margin-bottom:20px;
  background:rgba(25,25,25,0.7);
  max-height:5em;
  overflow: scroll;
}
input {

  font-size:20px;
  width:100%;
  background:#333;
  border:2px solid #666;
  padding:10px;
  color:#ccc;
}


#grid span
{
  // border:1px dashed #222;
  border-width: 1px 1px 0 0;
  color:#ccc;
  // text-align: center;
  // align-self: center;
  // justify-self: center;


  font-weight:200;

  display: flex;
  align-items: center;
  justify-content: center;
}

#grid span.empty {
  position:relative;
  top:-0.25em;
  font-size:0.5em;
}

#status {
  font-size:30px;
  color:#ccc;
  padding-top:5px;
  padding-left:1em;
  display: block;
  // grid-column: 1 / span 30;
  // border:1px solid brown;
}

#grid {

  // width:200px;
  margin:5px 10px;
  font-size:30px;
  // font-family: 'Menlo', 'Monaco', monospace;
  font-family: 'Monaco', monospace;
  display:grid;
  // grid-template-columns: 40px;
  // grid-template-rows: 40px;

  grid-auto-columns: 1/40;
  grid-auto-columns: 32px;
  grid-auto-rows: 40px;
}
